.body {
    background-color: #fa1e41;
}

.page-content {
    background-color: #fa1e41;
}

.hori-selector {
    background-color: #fa1e41;
}

.hori-selector .left{
    background-color: #fa1e41;
}

.hori-selector .right{
    background-color: #fa1e41;
}
