.body {
    background-color: #fa8200;
}

.page-content {
    background-color: #fa8200;
}

.hori-selector {
    background-color: #fa8200;
}

.hori-selector .left{
    background-color: #fa8200;
}

.hori-selector .right{
    background-color: #fa8200;
}
