.body {
    background-color: #1d54e6;
}

.page-content {
    background-color: #1d54e6;
}

.hori-selector {
    background-color: #1d54e6;
}

.hori-selector .left{
    background-color: #1d54e6;
}

.hori-selector .right{
    background-color: #1d54e6;
}
