.body {
    background-color: #32b4fa;
}

.page-content {
    background-color: #32b4fa;
}

.hori-selector {
    background-color: #32b4fa;
}

.hori-selector .left{
    background-color: #32b4fa;
}

.hori-selector .right{
    background-color: #32b4fa;
}
