.page-content {
    background-color: #a77fed;
}

.page-content {
    background-color: #a77fed;
}

.hori-selector {
    background-color: #a77fed;
}

.hori-selector .left{
    background-color: #a77fed;
}

.hori-selector .right{
    background-color: #a77fed;
}

