.body {
    background-color: #b49678;
}

.page-content {
    background-color: #b49678;
}

.hori-selector {
    background-color: #b49678;
}

.hori-selector .left{
    background-color: #b49678;
}

.hori-selector .right{
    background-color: #b49678;
}
