.body {
    background-color: #006464;
}

.page-content {
    background-color: #006464;
}

.hori-selector {
    background-color: #006464;
}

.hori-selector .left{
    background-color: #006464;
}

.hori-selector .right{
    background-color: #006464;
}
